.card {
    position: relative;
    width: 392px;
    height: 576px;
    background-color: transparent;
    perspective: 1000px;
}

.card .progress {
    position: absolute;
    top:13px;
    right: 12px;
    font-size: 18px;
}

.card .question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    font-weight: bold;
}

.card .title {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: bold;
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
}

.card-inner.turned{
    transform: rotateY(180deg);
}

/* .card:hover .card-inner {
    transform: rotateY(180deg);
} */


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
  }

/* .card-front {
    background-color: #bbb;
    color: black;
} */

.card-back {
    transform: rotateY(180deg);
}

.card-back.now{
    border: 5px solid #000000;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);

}
.card-back.remember-cant{
    border: 5px solid  #F64848;
    box-shadow: 0px 8px 24px rgba(246, 72, 72, 0.12);
}
.card-back.remember-hard{
    border: 5px solid #62DB38;
    box-shadow: 0px 8px 24px rgba(98, 219, 56, 0.12);
}
.card-back.remember-zap{
    border: 5px solid #FFEF61;
    box-shadow: 0px 8px 24px rgba(255, 239, 97, 0.12);
}

.card-back span.answer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 49px;
    margin-right: 49px;
}

.card .turnCard {
    position: absolute;
    bottom: 20px;
    right: 17px;
    cursor: pointer;
}

.results{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    margin-left: 41px;
    margin-right: 41px;
    margin-bottom: 19px;
    width: 311px;
}
.result{
    width: 65px;
    height: 48px;
    border-radius: 12px;
    border: 3px solid;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.result.now{
    border-color: black;
}

.result.remember-cant{
    border-color: #F74848;
}

.result.remember-hard{
    border-color: #62DB38;
}

.result.remember-zap{
    border-color: #FFEF61;
}

.result span{
    text-align: center;
}